/* Import */
@import url('./styles/tailwind.common.css');

/* Tailwind CSS directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS and additional styles go here */
body {
  color: white;
  background-color: black;
  overflow-x: hidden;
}

.feedSize {
  width: calc(100% - 240px) !important;
}